.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: white; /* light blue */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Change width as needed */
    height: 60vh; /* 60% of the viewport width */
    margin: 10px; /* Add some margin between cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-title {
    font-weight: bold; /* Make the title bold */
}

.card-image {
    width: 200px; /* Adjust image size as needed */
    height: 200px;
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px; /* Add some space between image and text */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

body {
    overflow: hidden;
    background-color: #add8e6;
}
